body 
{
    margin: 0;
    padding: 0;
    background-image: url("day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.all-leader
{
    width: 20vw; 
    height: 100%; 
    float: left; 
    position: fixed; 
    border: 0px;
    /* background-color: aquamarine; */
}
.menu1
{
    width: 10vw; 
    height: 5vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right: 0;
    margin: 10px -130px;
    position: fixed; 
     background-color: rgb(248, 133, 133);
     transition: 2s; 
    
}
.menu2
{
    width: 10vw; 
    height: 5vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right: 0;
    margin: 50px -130px;
    position: fixed; 
     background-color: rgb(255, 200, 98);
     transition: 1.5s; 
    
}
.menu3
{
    width: 10vw; 
    height: 5vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right: 0;
    margin: 90px -130px;
    position: fixed; 
     background-color: yellowgreen;
     transition: 1.5s; 
    
}
.menu1:hover
{
    margin: 5px 0;
    border: 5px solid black;
    border-right: 0;
    transition: 1.5s; 
}
.menu2:hover
{
    margin: 45px 0;
    border: 5px solid black;
    border-right: 0;
    transition: 1.5s;
}
.menu3:hover
{
    margin: 85px 0;
    border: 5px solid black;
    border-right: 0;
    transition: 1.5s;
}
.main-leader
{
    background-color: white; 
    width: auto; 
    height: 40px;
}
.main-ranking1
{
    float: left; 
    padding: 0 1rem; 
    margin-top: 7;
    
}
.main-ranking2
{
    background-color: black; 
    height: 40px; 
    width: auto;
   
}
.main-top-bar
{
    overflow-x: hidden;
    transition: 0.5s;
    margin: auto;
    max-width: 40rem;
    height: 160px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main-top-bar .closebtn 
{
  position: absolute;
  
}
.main-under-benner1
{
    margin: auto;
    height: auto;
    width: auto;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main-under-benner2
{
    margin: auto;
    margin-top: 5px;
    height: auto;
    /* width: 60%; */
    max-width: 32rem;
  
}

.under-benner
{
    margin: 20 0;
    width: 90%;
    height: 25%;
    float: left;
    border-bottom-left-radius: 20px;
    overflow-x: hidden;
    transition: 0.5s;
    /* background-color: aquamarine; */
}
.main-top-button
{
    height: 3%; 
    /* width: 6%; */
    max-width: 5rem; 
    margin: auto;
    overflow-x: hidden;
    transition: 0.5s;  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    border-top: 0;
    transform: 1s;
}
.ads
{
    width: 100%;
    height: 55%;
    border: 2px solid black;
    border-radius: 15px;
}
.main-click
{
    max-width: 60rem;
    height: 71vh;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 180px;
    /* background-color: sandybrown; */
    margin-top: 30px;
    /* bottom: 0; */
    
}
.img
{
    background-image: url("popteamepic1.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 30rem;
    height: 10vh;
    margin: auto;
}
.touch-score
{
    border: 3px solid black;
    border-radius: 15px;
    max-width: 10rem;
    height: 5vh;
}
.nohomrim
{
    background-image: url("팝팀에픽1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
    height: 50vh;
    max-width: 40rem;
}
.nohomrim:hover
{
    background-image: url("팜틱에픽2.png");
}
@media screen and (max-height: 450px) 
{
.main-under-benner1 {padding-top: 15px;}

}
::-webkit-scrollbar 
{
display: none;
}

