body 
{
    margin: 0;
    padding: 0;
    background-image: url("day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-leader
{
    background-color: white; 
    width: auto; 
    height: 40px;
}
.main-ranking1
{
    float: left; 
    padding: 0 1rem; 
    margin-top: 7
}
.main-ranking2
{
    background-color: black; 
    height: 40px; 
    max-width: 40rem;
    margin: auto;
}
.main-top-bar
{
    overflow-x: hidden;
    transition: 0.5s;
    margin: auto;
    max-width: 53rem;
 
    height: 160px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main-top-bar .closebtn 
{
  position: absolute;
  
}
.main-under-benner1
{
    margin: auto;
    height: auto;
    width: auto;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main-under-benner2
{
    margin: auto;
    margin-top: 5px;
    height: auto;
    /* width: 60%; */
    max-width: 32rem;
  
}

.under-benner
{
    margin: 20 0;
    width: 90%;
    height: 25%;
    float: left;
    border-bottom-left-radius: 20px;
    overflow-x: hidden;
    transition: 0.5s;
    /* background-color: aquamarine; */
}
.main-top-button
{
    height: 3%; 
    /* width: 6%; */
    max-width: 5rem; 
    margin: auto;
    overflow-x: hidden;
    transition: 0.5s;  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    border-top: 0;
    transform: 1s;
}
.ads
{
    width: 100%;
    height: 55%;
    border: 2px solid black;
    border-radius: 15px;
}
.main-click
{
    /* width: 60vw; */
    max-width: 60rem;
    height: 71vh;
    margin: auto;
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 180px;
    /* background-color: sandybrown; */
    margin-top: 10px;
}
.img
{
    /* background-image: url("안녕하나런.jpg"); */
    background-color: white;
    max-width: 20rem;
    height: 10vh;
    margin: auto;
}
.touch-score
{
    border: 3px solid black;
    border-radius: 15px;
    max-width: 10rem;
    height: 5vh;
}
.nohomrim
{
    background-image: url("안녕하나런.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 50vh;
    max-width: 40rem;
}

@media screen and (max-height: 450px) 
{
.main-under-benner1 {padding-top: 15px;}

}
::-webkit-scrollbar 
{
display: none;
}

